@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
    background: #454A5F url(/Content/Images/purple_wall.png) left top repeat;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 100;
    line-height: 1.4em;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
img {
    display:inline-block;
}
a {
    color:#CCC;
}
a:hover {
    color:#4DB996;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
h1 {
    font-weight: 100;
    font-size: 30px;
    padding: 0 0 10px;
    margin: 0;
}

.home-box-center {
    margin: 20px auto 0px;
    max-width: 500px;

    overflow: hidden;
}
.home-box-title {
    padding-bottom:10px;
    font-size: 1.5em;
    font-weight: 600;
}




#infoPopup {
    background-image: linear-gradient(#454a5f 0%, #1f222c 100%);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    opacity: 0.9;
    position: absolute;
    top:50px;
    left:50px;
}

#infoPopup div.scroll {
    bottom: 20px;
    left: 20px;
    right:250px;
    position: absolute;
    top: 60px;
}


#infoPopup h1 {
    text-align:center;
    padding-top:20px;
}

#infoPopup .closeIcon {
    background: url(/Content/icons/close-window-32.png) left top no-repeat;
    width:32px;
    height:32px;
    position: absolute;
    right:15px;
    top:15px;
    cursor: pointer;
}
#infoPopup .buttonBar {
    position:absolute;
    right:20px;
    top:60px;
    width:220px;
}
#infoPopup .buttonBar .button {
    vertical-align:middle;
    width: 100%;
    text-align: center;
    padding:0;
    margin-bottom:10px;
}

#infoPopup iframe {
    border:none;
}

.routeTimes {
    width:100%;
}
.routeTimes th {
    text-align:center;
    font-weight:bold;
}
.routeTimes td {
    text-align:center;
}

.loading { 
    background:url(/Content/icons/ajax-loader.gif) center center no-repeat;
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#logo {
    background: url(/Content/images/u-vu-lugu.png) left top no-repeat;
    position:absolute;
    z-index:9999;
    left:50px;
    bottom:50px;
    width:137px;
    height:100px;
    transition: all 2s ease-out;
}
#logo:hover
{
    left:600px;
    bottom:500px;
    transform:rotate(720deg) scale(10,10);
    transition: all 4s ease-in;
}
#results div {
    cursor:pointer;
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    #results div:hover {
        color:#FF2222;
    }